:root {
    --g: #53D176;
  }
body {
    margin: 0px;

}
.stop{
  display: block;
  margin: 10px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  background-color: var(--g);
  color: white;
  cursor: pointer;  

}
.start{
  display: block;
  margin: 10px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid var(--g);  
  color: white;
  cursor: pointer;

}
.cointainer{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 8vw 1fr;
    grid-template-rows: 15vh 65vh 1fr;
    grid-template-areas: "o o"
       "ia ia"
       "c pa" ;
}

.controlArea{
    grid-area: c;
}

.overallControl {

    grid-area: o;
    display: grid;
    padding: 20px;
    align-content: center;
}
.tempoCointainer {
width: fit-content;

}

h5{
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
    color: white;
}  

.instrumentArea{
    grid-area: ia;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    padding: 20px;

}
.instrument{
    display: grid;
    justify-items: center;
    border: 1px solid var(--g);
 
}
.padArea {
    grid-area: pa;
    display: grid;
    padding-right:20px ;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));

}
.pad {
    color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: cyan;
}
.padGlow {
  color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow:
  inset 0 0 2px #FF2079,      /* inner white */
  inset 10px 0 40px #FF2079,   /* inner left magenta short */
  inset -10px 0 40px #FF2079,  /* inner right cyan short */
  inset 10px 0 150px #FF2079,  /* inner left magenta broad */
  inset -10px 0 150px #FF2079, /* inner right cyan broad */
  0 0 2px #FF2079,            /* outer white */
  -2px 0 5px #FF2079,        /* outer left magenta */
  -2px 0 5px #FF2079; 
}

.currentPad {
  color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;

  background-color: cyan;
box-shadow:
inset 0 0 2px #04005E,      /* inner white */
inset 10px 0 40px #04005E,   /* inner left magenta short */
inset -10px 0 40px #04005E,  /* inner right cyan short */
inset 10px 0 150px #04005E,  /* inner left magenta broad */
inset -10px 0 150px #04005E, /* inner right cyan broad */
0 0 2px #04005E,            /* outer white */
-2px 0 2px #04005E,        /* outer left magenta */
-2px 0 2px #04005E; 

}


.clickPad {
    color: cyan
}
.rec {
    grid-area: r;
}

.instrumentButton {
    border: 1px solid var(--g);
    text-align: center;
    color: white;
    width: 8em;
    height: 30px;
    cursor: pointer;
}

.instrumentButtonSelected {
  border: 1px solid var(--g);
  background-color: var(--g);

    text-align: center;
    color: white;
    width: 8em;
    height: 30px;
    box-shadow: 0 0px 10px var(--g);
}


input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 12.3px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: cyan;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 33px;
    width: 16px;
    border-radius: 3px;
    background: #53d176;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -12.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: cyan;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: cyan;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 33px;
    width: 16px;
    border-radius: 3px;
    background: #53d176;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pocyan;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: cyan;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: cyan;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 33px;
    width: 16px;
    border-radius: 3px;
    background: #53d176;
    cursor: pointer;
    height: 8.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: cyan;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: cyan;
  }



 

  .value-button {
    display: inline-block;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: var(--g);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }